$sleep-purple: rgb(140, 71, 196);

$sleep-graph-fill: rgba(136, 132, 216, 0.6);
$sleep-graph-stroke: rgba(136, 132, 216, 1);

//iOS Activity Colours
$exercise-green: #94d55a;
$calories-red: #c53f3d;
$standing-blue: #70bed7;