.icon {
    float: left;
    background: #dbc0ff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    padding: 10px;
}

.value, .title {
    display: inline-block;
}

.title {
    color: rgba(0, 0, 0, 0.8);
}

.value {
    margin: 0;
    font-weight: 600;
}

.card {
    padding: 10px;
}