@import '../../colours';

$inner-purple: rgba(190, 167, 252, 0.849);

.icon {
    font-size: 2.2rem;
    margin: auto;
    color: rgba(0, 0, 0, 0.9);
}

.circle {
    color: $sleep-graph-fill;
    border-radius: 50%;
}

.value, .title {
    display: block;
    text-align: left;
}

.title {
    color: rgba(0, 0, 0, 0.8);
}

.value {
    margin: 0;
    font-weight: 600;
    font-size: 2em;
}

.card {
    padding: 25px;
    margin-bottom: 15px;
}