@import '../../colours';

.active {
    color: $sleep-graph-stroke;
}

.inactive {
    color: rgba(0, 0, 0, 0.2);
}

.active, .inactive {
    transition: color 0.6s ease;
    vertical-align: middle;
    margin: auto 2px;
    font-size: 3em;
}

.column {
    padding: 0 2px;
}

.middleColumn {
    display: flex;
    align-items: center;
}

.bar {
    display: inline-block;
    width: 100%;
}
