.icon {
    color: #FFFFFF;
}

.tooltip {
    text-align: left;
}

.label {
    font-weight: 650;
    margin: 0;
}

.value {
    font-weight: 500;
    margin-left: 5px;
}

.heading {
    font-weight: 600;
}