@import '../../colours';
@import '../../viewports';

@include phone {
    .snapshot {
        display: none;
    }
}

.snapshot > a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

.snapshot > a:hover {
    color: rgba(255, 255, 255, 1);
    transition: 0.5s ease;
}

.snapshot > a:active, .snapshot > a:focus {
    outline: none;
}

.snapshot .dropdown-item a:active {
    background-color: $dark;
}