@import '../../colours';

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  background-color: rgba(60, 60, 60, 0.8);
}

.wrapper {
  padding: 20px;
  max-width: 500px;
  background-color: rgba(33, 37, 41, 0.8);
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.heading {
  font-size: 2.5em;
  text-align: center;
}

.referenceIcon {
  color: $calories-red;
}

.headingIcon, .heading {
  color: #ff414c;
}

.subtitle {
  color: #FFF;
  text-align: center;
}

.description {
  color: #b8b8b8;
  font-size: 1em;
  text-align: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}
