@import '../../viewports';
@import '../../colours';

@mixin footer {
    .footer {
        width: 100%;
        -webkit-box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.4);
        box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.4);
        position: fixed;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        background-color: $dark-1;
    }
    
    .footer span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        text-decoration: none;
    }
}

@include phone {
    @include footer;

    .footer {
        height: 30px;
    }

    .footer span {
        font-size: 0.7em;
    }
}

@include tablet {
    @include footer;

    .footer {
        height: 45px;
    }

    .footer span {
        font-size: 0.85em;
    }
}

@include desktop {
    @include footer;

    .footer {
        height: 50px;
    }
    
    .footer span {
        font-size: 1em;
    }
}
