.header {
    height: 60px;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    font-family: 'Roboto', sans-serif;
    background-color: #212529;
}

.header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.name {
    color: #FFF;
}

.link:active, .link:focus {
    outline: none;
}