@import '../../colours';

.icon {
    color: rgba(250, 250, 250, 0.8);
}

.icon:hover {
    color: rgba(255, 255, 255, 1);
    transition: 0.5s ease;
}

.hammer {
    color: $calories-red;
}

.tooltip {
    text-align: left;
}

.label {
    font-weight: 650;
    margin: 0;
}

.value {
    font-weight: 500;
    margin-left: 5px;
}

.heading {
    font-weight: 600;
    text-align: center;
}