@import "../../colours";
@import "../../viewports";

@mixin shadow {
    filter: box-shadow(0 0 4px rgba(0, 0, 0, 0.8));
}

@mixin icon-colours {
    .overview {
        @include shadow;
        color: $standing-blue;
    }
    
    .cardio {
        @include shadow;
        color: $exercise-green;
    }
    
    .sleep {
        @include shadow;
        color: $sleep-graph-fill;
    }
    
    .gym {
        @include shadow;
        color: $calories-red;
    }
}

@mixin icons-large {
    @include icon-colours;

    .overview, .cardio, .sleep, .gym {
        width: 100%;
        font-size: 1.8em;
        text-align: center;
    }
}

@mixin icons-small {
    @include icon-colours;
}

@mixin collapsed-mode {
    @include icons-large;

    .name {
        display: none;
    }

    .link {
        line-height: 0;
    }
}

@include phone {
    @include collapsed-mode;
}

@include tablet {
    @include collapsed-mode;
}

@include desktop {
    @include icons-small;

    .name {
        display: inline-block;
        margin-left: 5px;
        font-family: "Roboto";
        font-weight: 500;
        color: #d9d9d9;
    }
    
    .name:hover {
        color: #FFF;
        transition: 0.2s ease;
    }

    .link {
        line-height: 0;
        padding: 5px 0;
    }

}
