@import '../../viewports';

@mixin compressed-mode {
    .sidebar {
        box-shadow: 0 0 4px 1em rgba(0, 0, 0, 0.5);
        width: 70px;
        display: flex;
        align-items: center;
        overflow-x: hidden;
        position: relative;
    }

    .content {
        min-width: 0;
        width: 100%;
        padding: 15px;
        overflow: hidden;
        background: rgb(238, 238, 238)
    }
}

@include phone {
    @include compressed-mode;
}

@include tablet {
    @include compressed-mode;
}

@include desktop {
    .sidebar {
        max-width: 200px;
        min-height: 100vh !important;
        margin-left: 0;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
        font-size: 1.2rem;
        background-color: rgb(41, 41, 43);
        padding: 10px;
    }

    .content {
        min-width: 0;
        width: 100%;
        padding: 30px;
        overflow: hidden;
        background: rgb(55, 55, 57)
    }
}

.sidebar, .content {
    margin-top: 60px;
}

.wrapper {
    padding: 0;
    overflow-x: hidden;
}

.row {
    margin-left: 0;
}