.container {
    height: 350px;
}

.row {
    height: 33%;
    display: flex;
    align-items: center;
}

.value {
    margin: 0;
    font-weight: 600;
}

.icon {
    margin: auto;
    display: block;
}