@import '../../colours';
@import '../../viewports';

$inner-purple: rgba(190, 167, 252, 0.849);

.icon {
    font-size: 2.2rem;
    margin: auto;
    color: rgba(0, 0, 0, 0.9);
}

.circle {
    color: $sleep-graph-fill;
    border-radius: 50%;
}

.value, .title {
    display: block;
    text-align: left;
    margin-left: 10px;
}

.title {
    color: rgba(0, 0, 0, 0.8);
}

.value {
    font-weight: 600;
    font-size: 2em;
}

.row {
    display: flex;
    align-items: center;
}

@include phone {
    .icon {
        font-size: 2rem;
    }

    .circle {
        font-size: 4.5rem;
    }

    .card {
        padding: 15px;
    }
}

@include tablet {
    .card {
        padding: 10px;
    }

    .icon {
        font-size: 1.4rem;
    }

    .circle {
        font-size: 0.7em;
    }

    .value {
        font-weight: 600;
        font-size: 1.5em;
    }

    .title {
        font-size: 0.8em;
    }
}

@include desktop {
    .card {
        padding: 25px;
    }

    .row {
        display: flex;
        align-items: center;
        text-align: center;
    }
}