@import '../../colours';
@import '../../viewports';

@include desktop {
    .active, .inactive {
        font-size: 3em;
    }
}

@include tablet {
    .active, .inactive {
        font-size: 3em;
    }
}

@include phone {
    .active, .inactive {
        font-size: 3em;
    }
}

.active, .inactive {
    transition: color 0.6s ease;
}

.active {
    color: $sleep-graph-stroke;
}

.inactive {
    color: rgba(0, 0, 0, 0.2);
}

.column {
    display: flex;
    padding: 0;
}

.middleColumn {
    display: flex;
    align-items: center;
}

.bar {
    flex-basis: 50%;
    margin: 0 5px;
}

.left, .right {
    flex-basis: 25%;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;
}