@import '../../colours';
@import '../../viewports';

@include desktop {
    .active, .inactive {
        font-size: 3em;
    }
}

@include tablet {
    .active, .inactive {
        font-size: 3em;
    }
}

@include phone {
    .active, .inactive {
        font-size: 2em;
    }
}

.active {
    color: $sleep-graph-stroke;
}

.inactive {
    color: rgba(0, 0, 0, 0.2);
}

.active, .inactive {
    transition: 0.6s ease;
    vertical-align: middle;
    margin: auto 3px;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;
}