.menu {
    min-height: 100vh !important;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    font-size: 1.2rem;
}

.content {
    min-width: 0;
    width: 100%;
    padding: 40px;
    overflow: hidden;
}

.menu, .content {
    margin-top: 60px;
}
